{{> layout/header}}

<style>
    .offer-table th, .offer-table td {
        text-align: center;
        vertical-align: middle; /* 셀 내용을 수직 가운데 정렬 */
    }

    .notVisible {
        visibility: hidden;
    }

</style>

<div class="container">

    <form action="/order-cancel" method="post">

        <table class="table table-hover offer-table scroll" style="text-align: center; border-top:2px solid #ddd">
            <br>
            <h2>내 구매 목록</h2>
            <br>
            <!--        목록 -->
            <thead>
            <tr>
                <th class="center-align col-1">No</th>
                <th class="center-align col-2">상품명</th>
                <th class="center-align col-1">수량</th>
                <th class="center-align col-2">상품가격</th>
                <th class="center-align col-2">결제방법</th>
                <th class="center-align col-2">주문날짜</th>
                <th class="center-align col-2">취소하기</th>
            </tr>
            </thead>
            <!--        목록 끝-->

            <!--        상품 테이블-->
            <tbody>
            {{#orderList}}
                <tr class="offer-table my-cancel-list">
                    <th scope="row">{{indexNum}}</th>
                    <td>{{name}}</td>
                    <td class="buyQty">{{buyQty}}</td>
                    <td class="sum">{{sum}}</td>
                    <td>{{payment}}</td>
                    <td>{{createdAt}}</td>
                    <td>
                        <div class="notVisible">{{id}}</div>
                        <input type="checkbox" name="itemCheck" id="itemCheck" class="item-checkbox">
                        <div class="notVisible">{{status}}</div>
                    </td>
                </tr>
            {{/orderList}}
            </tbody>
            <!--        상품 테이블 끝-->
        </table>

        <div class="new-create-button d-flex justify-content-end cancelButton">
            <button type="submit" id="cancelButton" class="btn btn-outline-danger">주문취소</button>
        </div>

    </form>
</div>

<div style="margin-bottom: 15%"></div>

<script src="/js/list.js"></script>

<script>

    let checkArr = [];

    document.querySelector("#cancelButton").addEventListener("click", function (e) {
        e.preventDefault(); // 기본 폼 제출을 방지

        let orderTable = document.querySelectorAll(".my-cancel-list");

        orderTable.forEach(value => {

            let checkBox = value.querySelector("td > input");

            if(checkBox.checked){
                let info = value.querySelectorAll("td > div");
                let orderId = info[0].innerHTML;
                let buyQty = value.querySelector(".buyQty").textContent;

                let checkedOrder = {
                    orderId: orderId,
                    buyQty: buyQty,
                    status: checkBox.checked ? false : true
                };

                checkArr.push(checkedOrder);
            }
        });
        console.log(checkArr);

        $.ajax({
            url: '/order-cancel',
            data: JSON.stringify(checkArr),
            contentType: 'application/json; charset=utf-8',
            type: 'POST'

        }).done((res)=>{
            alert("취소가 완료되었습니다!");
            location.href = "/order-list"

        }).fail((res)=>{

        });
    });


</script>




{{> layout/footer}}
